# Exported from Render on 2025-11-28T14:01:37Z
version: "1"
services:
- type: web
  name: menu-tree-api
  runtime: node
  repo: https://github.com/shagaranasution/menu-tree
  plan: free
  envVars:
  - key: DATABASE_URL
    fromDatabase:
      name: menu-tree-pg
      property: connectionString
  - key: CORS_ORIGINS
    sync: false
  region: singapore
  buildCommand: npm ci && npx prisma generate && npx prisma migrate deploy && npm
    run build
  startCommand: npm run start:prod
  autoDeployTrigger: commit
  rootDir: ./apps/backend
- type: web
  name: menu-tree
  runtime: static
  repo: https://github.com/shagaranasution/menu-tree
  envVars:
  - key: VITE_BACKEND_URL
    sync: false
  buildCommand: npm ci && npm run build
  staticPublishPath: dist
  autoDeployTrigger: commit
  rootDir: ./apps/frontend
databases:
- name: menu-tree-pg
  databaseName: mt_db_ukl7
  user: mt_user
  plan: free
  region: singapore
  ipAllowList:
  - source: 0.0.0.0/0
    description: everywhere
  postgresMajorVersion: "18"
